<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:lightsteelblue;">

    <a href="/logout">Sing Out</a>

    <h2>Hi <%= user.name %></h2>
  
       
      <h1 style="color:white;display: inline;font-size:150px"  >Welcome To Meri's Dashboard </h1>
      <p style="color:mediumblue; font-size:20px"><a href ="/book" ><u>Here is my book survey</u></p>
      <p style="color:mediumblue; font-size:20px"><a href = "/hobby"><u>Here is my hobby survey</u></p>
      <p style="color:mediumblue; font-size:20px"><a href = "/admin"><u>Here is my admin page</u></p>

  
    
</body>
</html>